$green: #29ff82;

* {
    box-sixing: border-box;
}

body {
    margin: 0;
    background: black;
    font-family: "Andale Mono", AndaleMono, monospace;
    
    .container {
        position: absolute;
        width: 100%;
        height: 100%;

        header {
            
        }
        
        section.main {
            height: 100%;
        
            .nav, 
            .content {
                height: 100%;
                float: left;
            }
        
            .nav {
                background: #404040;
                width: 20%;
                
                .title {
                    position: fixed;
                    padding: 10px;
                    color: $green;
                }
                
                .list-wrapper {
                    
                    height: 100%;
                    padding-top: 34px;
                    
                    .list {
                        height: 100%;
                        overflow-y: scroll;
                        padding: 10px;
                        
                        ul {
                            padding-left: 10px;
                            
                            li {
                                color: $green;
                                font-size: 15px;
                                line-height: 24px;
                                
                                a {
                                    
                                    &:hover {
                                        color: lighten($green, 20%);
                                    }
                                    
                                }
                            }
                            
                        }
                        
                    }

                }
                
            }
        
            .content {
                background: #333333;
                width: 80%;
                height: 100%;
                overflow-y: scroll;
            }
        }
        
        footer {
            
        }
        
    }
    
}

