<!DOCTYPE html>
<html lang="en" ng-app="RootApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Hacker Union</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hacker Union">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/screen.css">


    <!-- javascript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- angular 1.2 has route as its own module -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>

    <script src="/bower_components/klass/klass.js"></script>

    <script src="/scripts/contrib/base.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/routes.js"></script>
    <script src="/scripts/controllers.js"></script>
    <script src="/scripts/services.js"></script>

</head>
<body ng-controller="BaseCntl">

<div class="container">

     <section class="main">

        <section class="nav">
            <div class="title-wrapper">
                <div class="title">
                    <a href="/"><img src="/img/hu.svg" class="logo" /></a>
                    <div class="name">
                        hacker_union/
                    </div>
                    <div class="secondary">
                        established MMIX
                    </div>
                </div>
            </div>
            <div class="list-wrapper">
                <div class="list">
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="/img/folder.svg" />
                            </div>
                            Chapters
                        </li>
                        <li>
                            <ul>
                                <li ng-repeat="chapterName in chapters.submodules">
                                    <div class="icon">
                                        <img src="/img/folder.svg" />
                                    </div>
                                    <a ng-click="getChapter(chapterName)" ng-href="/chapters/{{chapterName}}">{{chapterName}}</a>
                                    <ul ng-show="submoduleNames[chapterName]">
                                        <li ng-repeat="submoduleName in submoduleNames[chapterName].submodules">
                                            <div class="icon">
                                                <img src="/img/folder.svg" />
                                            </div>
                                            <a ng-click="getChapterSubmodule(chapterName, submoduleName)" href="/chapters/{{chapterName}}/{{submoduleName}}">{{submoduleName}}</a>

                                            <ul ng-show="chapterSubmodules[chapterName+submoduleName]">
                                                <li ng-repeat="file in chapterSubmodules[chapterName+submoduleName].files">
                                                    <img src="/img/file.svg"><a href="/raw/api/chapters/{{chapterName}}/{{submoduleName}}/{{file}}">{{file}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li ng-repeat="file in submoduleNames[chapterName].files">
                                            <div class="icon">
                                                <img src="/img/file.svg">
                                            </div>
                                            <a href="/raw/api/chapters/{{chapterName}}/{{submoduleName}}{{file}}">{{file}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="content-wrapper">
            <div class="content">
                <div ng-view></div>
            </div>
        </section>

    </section>

    <footer>
        <div class="left">
            <a href="">Join your local meeting?</a>
        </div>
        <div class="right">
            &copy; 2014 Hacker Union | <a href="http://opensource.org/licenses/MIT" target="_blank">License</a>
        </div>
    </footer>

</div>

</body>
</html>
