$green: #29ff82;
$gray: #272928;
$dark_gray: darken($gray, 5%);
$light_gray: lighten($gray, 50%);

* {
    box-sixing: border-box;
}

::-moz-selection { background: $green; color:$gray; text-shadow: none; }
::selection { background: $green; color:$gray; text-shadow: none; }

html, body {
    background: url("../img/lines.svg") repeat scroll 0 0 #222;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    color: $green;
    font-family: "Andale Mono", AndaleMono, monospace;
    @include font-smoothing(antialiased);
    
    .container {
        
        height: 100%;
        
        section.main {
            height: 100%;
        
            .nav, 
            .content {
                height: 100%;
            }
        
            .nav {
                position: fixed;
                height: 100%;
                width: 330px;
                background: $gray url(../img/lines.svg);
                border-right: 1px solid rgba(64,66,65,0.41);
                text-shadow: 0 0 2px rgba(41, 255, 130, 0.5);
                
                .title-wrapper {

                    padding: 10px;
                    
                    .title {
                        padding: 7px;
                        color: $green;
                        border-top: 3px double $green;
                        border-bottom: 3px double $green;
                        height: 100px;
                        
                        img.logo {
                            float: left;
                            padding: 10px 15px;
                            border-right: 1px solid $green;
                        }
                        
                        .name {
                            border-bottom: 1px solid $green;
                            margin-left: 85px;
                            padding: 10px 5px 10px 10px;
                            font-size: 25px;
                        }
                        
                        .secondary {
                            margin-left: 80px;
                            padding: 10px 10px 10px 15px;
                            font-size: 18px;
                        }
                    }
                }
                
                .list-wrapper {
                    
                    height: 100%;
                    
                    .list {
                        height: 100%;
                        padding: 10px 10px 10px 0px;
                        
                        ul {
                            padding-left: 20px;
                            
                            li {
                                color: $green;
                                font-size: 15px;
                                line-height: 24px;
                                
                                div.icon {
                                    display: inline-block;
                                    width: 20px;
                                    text-align: center;
                                }
                                
                                a {
                                    color: $green;
                                    text-decoration: none;
                                        
                                    &:hover {
                                        color: lighten($green, 20%);
                                        text-decoration: none;
                                    }
                                    
                                }
                            }
                            
                        }
                        
                    }

                }
                
            }
        
            .content-wrapper {
                background: url("../img/grid.png") repeat scroll 0 0 transparent;

                margin: 0;
                padding: 10px 0 40px 330px;
                width: 100%;
                height: 100%;
                
                .content {
                    overflow-y: auto;
                    padding:20px;
                }
            }
        }
        
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 40px;
            background: $dark_gray;
            width: 100%;
            
            padding: 0 10px;
            
            color: $light_gray;
            font-size: 15px;
            line-height: 40px;
            
            .left {
                float: left;
            }
            
            .right {
                float: right;
            }
            
            a {
                color: $light_gray;
                
                &:hover {
                    color: $light_gray;
                }
            }
        }
        
    }
    
}

