$green: #29ff82;
$gray: #272928;

* {
    box-sixing: border-box;
}

body {
    margin: 0;
    background: $gray url(../img/lines.svg);
    font-family: "Andale Mono", AndaleMono, monospace;
    
    .container {
        position: absolute;
        width: 100%;
        height: 100%;

        header {
            
        }
        
        section.main {
            height: 100%;
        
            .nav, 
            .content {
                height: 100%;
            }
        
            .nav {
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                width: 300px;
                z-index: 10;
                
                .title-wrapper {

                    padding: 10px;
                    
                    .title {
                        padding: 10px;
                        color: $green;
                        border-top: 3px double $green;
                        border-bottom: 3px double $green;
                    }
                }
                
                .list-wrapper {
                    
                    height: 100%;
                    
                    .list {
                        height: 100%;
                        overflow-y: scroll;
                        padding: 10px 10px 10px 0px;
                        
                        ul {
                            padding-left: 20px;
                            
                            li {
                                color: $green;
                                font-size: 15px;
                                line-height: 24px;
                                
                                a {
                                    color: $green;
                                    text-decoration: none;
                                        
                                    &:hover {
                                        color: lighten($green, 20%);
                                        text-decoration: none;
                                    }
                                    
                                }
                            }
                            
                        }
                        
                    }

                }
                
            }
        
            .content {
                background: darken($gray, 1%) url(../img/grid.png);
                position: relative;
                left: 0;
                top: 0;
                height: 100%;
                margin: 0 0 0 330px;
                overflow-y: scroll;
                padding: 20px;
                color: $green;
            }
        }
        
        footer {
            
        }
        
    }
    
}

