@mixin transition($transitions...) {
    -webkit-transition: $transitions;
       -moz-transition: $transitions;
         -o-transition: $transitions;
            transition: $transitions;
}

@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
       -moz-box-shadow: $shadows;
         -o-box-shadow: $shadows;
            box-shadow: $shadows;
}

@mixin font-smoothing($font-smoothing) { 
  -webkit-font-smoothing: $font-smoothing;
     -moz-font-smoothing: $font-smoothing;
      -ms-font-smoothing: $font-smoothing;
          font-smoothing: $font-smoothing;
}